.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid orange;
    border-top: 20px solid aqua;
    animation: spinanimate 2s ease-in-out 0s infinite normal;
}
@keyframes spinanimate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg)
    }
}